*{
  font-family: 'Ubuntu', sans-serif;
  /* font-family: 'Cinzel', serif; */
}
/* .appbackground{
  background-color: #eee6ff;
  height: 100vh;
  width: 100vw;
} */
.navbar{
  background-color: #8E44AD;
}

.h3{
  font-family: 'Cinzel', serif;
}

